Port 2222
HostKey $PWD/ssh_host_rsa_key
PidFile $PWD/sshd.pid

# Don't allow interactive authentication
KbdInteractiveAuthentication no

# Same as above but for older SSH versions
ChallengeResponseAuthentication no

# Don't allow password authentication
PasswordAuthentication no

# Only allow single user
AllowUsers $USER

# Only allow those keys
AuthorizedKeysFile $PWD/authorized_keys

# vim: ft=sshdconfig
