Port 2222
HostKey /path/to/sshd-on-the-go/ssh_host_rsa_key
PidFile /path/to/sshd-on-the-go/sshd.pid

# Don't allow interactive authentication.
KbdInteractiveAuthentication no

# Same as above but for older SSH versions.
ChallengeResponseAuthentication no

# Don't allow password authentication.
PasswordAuthentication no

# Only allow my own user.
AllowUsers val

# Only allow my own key.
AuthorizedKeysFile /path/to/sshd-on-the-go/authorized_keys
